<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} - %message%newline" />
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="%property{LogLocation}\\%utcdate{yyyy-MM-dd_HH_mm_ss}.log" type="log4net.Util.PatternString" />
    <rollingStyle value="Size" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} - %message%newline" />
    </layout>
  </appender>
</log4net>